/* Mengubah container luar menjadi flexbox satu baris */
.md-footer-meta__inner {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: center !important;
}

/* Memaksa teks copyright dan teks generator tidak membuat baris baru */
.md-copyright, 
.md-social {
    display: inline-block !important;
    margin-bottom: 0 !important;
}

/* Menghilangkan margin bawah bawaan dari pembungkus generator */
.md-footer-meta {
    padding-bottom: 15px !important;
}